body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button {
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
}

input {
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

form {
	display: flex;
	flex-direction: column;
}

.warna-judul {
	color: rgb(14, 89, 139);
}

.introduction {
	color: cornflowerblue;
}

img {
	width: 50%;
}
